<!-- Extending the project layout, as this file will do minor customizations -->
{% extends "layouts/project.html" %}

<!-- Setting up variables to customize "project" details to be specific to kangaroos -->
{% set project = "Joselyn's" %}
{% set overview = "https://jesa06.github.io/andafp/markdown/2022/09/11/PerformanceTaskOutline.html#outline" %}
{% set scrumboard = "https://www.youtube.com/channel/UClIKOsDS5dsfzFA3zveDT3Q?view_as=subscriber" %}
{% set repo = "https://jesa06.github.io/andafp/" %}
{% set authors = "https://jesa06.github.io/andafp/https:/github.com/jesa06/andafp/blob/9663f63361b75e4ffd7b14d3ed1b352ae4c50724/_pages/01_About%20me.md/"  %}
{% set snapchat = "https://accounts.snapchat.com/accounts/snapcodes" %}
{% set github = "https://github.com/jesa06" %}
{% set youtube = "https://www.youtube.com/" %} 


<!-- Setting up a block replacement to customize background to RINGS -->
{% block background %}
    <script src="{{ url_for('static', filename='js/three.r119.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vanta.halo.min.js') }}"></script>
    <script>
        VANTA.HALO({
            el: "body",
            mouseControls: true,
            touchControls: true,
            gyroControls: false,
            minHeight: 200.00,
            minWidth: 200.00
        })
    </script>
{% endblock %}