
<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "Play Game: Tetris" %}

<!- This is a replacement block for Body in base.html -->
{% block body %}
    <!- Try building a new body here, bootstrap is a wise choice ->
    <!DOCTYPE html>
    <html>
        <head>
            <meta charset="utf-8">
            <title>Tetris</title>
            <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/tetris.css')}}">
        </head>
        <body> <!-- id and class refer to code built in the static/js/tetris.js file by Backend Developer-->
            <button onclick="myFunction()">Click here to end the game</button> 
            <button class="button button1" onclick="helpFunction()">How to play</button>
            <div id="gameField">
                <div id="gameover">
                    <center> <!--puts the text in the center-->
                        <h1>Game Over</h1> <!--bigger the number with h, larger the font size-->
                        <h4>press 'F5' to restart</h4>
                    </center>
                </div>
                <div id="pause">
                    <center>
                        <h1>Game Paused</h1>
                        <h4>press 'P' to resume</h4>
                        <h4>press 'F5' to restart</h4>
                    </center>
                </div>
                <table id="nextTable" border=0> 
                    <tr><td id="00"></td><td id="01"></td><td id="02"></td><td id="03"></td></tr>
                    <tr><td id="10"></td><td id="11"></td><td id="12"></td><td id="13"></td></tr>
                    <tr><td id="20"></td><td id="21"></td><td id="22"></td><td id="23"></td></tr>
                    <tr><td id="30"></td><td id="31"></td><td id="32"></td><td id="33"></td></tr>
                </table>
                <div id="scoreField">
                    <center>
                    <p class="sub">LEVEL</p>
                    <p id="level">1</p>
                    <p class="sub">SCORE</p>
                    <p id="score">0</p>
                    <p class="sub">NEXT</p>
                    <p><br><br><br></p>
                    <p class="sub">HELP</p>
                    <p id="help">← ↓ →</p>
                    <p id="help">Space Bar to rotate</p><br>
                    <p id="help">'P' to pause</p>
                    <p id="help">'q' to change shape</p>
                    <!--<p class="sub" id="about" onclick="info()">ABOUT</p>-->
                    <div id="comboField"><i></i></div>
                    </center>
                </div>
                <script type="text/javascript" src="{{url_for('static',filename='js/tetris.js')}}"></script>
                <script>function myFunction() {
                    if(!isPaused){
                        gameOver();
                    }
                    if(isPaused) {
                        alert("you cannot end the game on the pause screen");
                    }
                } 
                </script>
                <script>function helpFunction() {
                    alert("clear lines with the falling pieces to score! just create lines with the falling pieces! don't let the blocks reach the top or you lose!")
                }</script>
        </body>
                <audio controls>
                    <source src="vscode/groupflask/static/assets/Tetris.mp3" type="audio/mpeg" autoplay controls>
                </audio>
       
    </html>

   <!--
      <audio controls autoplay loop>
            <source src="/vscode/groupflask/static/assets/Tetris.mp3" type="audio/mpeg">
            <audio src="Tetris.mp3" preload="auto">
        </audio>
    <script>
        var playerName = prompt("Please enter your name", "<name>");
            if (playerName!= null) {
         document.getElementById("welcome").innerHTML = "Hello " + customerName + "! How are you today?";

            }
         
    </script> 
    -->

   <!-- <div class="px-5 py-5 mx-auto">Here we will start building!</div>
    <head>
        <title>Our Game</title>
    </head>
    <style>
        .button {
          border: none;
          color: white;
          padding: 15px 30px;
          text-align: center;
          text-decoration-style: darkviolet;
          display: inline-table;
          font-size: 26px;
          margin: 6px 4px;
          cursor: pointer;
        }
        .button1 {background-color: #790cb4;}
        .button2 {background-color: #790cb4;} /* Purple */
        .button3 {background-color: #790cb4;}
    </style>        
      <body>
        <button class="button button2">Play</button>
        <button class="button button1" onclick="myFunction()">How to play</button>
        <button class="button button3" onclick="Scoreboard()">View Scoreboard</button>
        <p id="play"></p>
        <div id="rules">
            Use up arrow to rotate the block. Use left and right arrow to move the block horizontally. Use the down arrow to speed up the drop of the block. Use the space block to hard drop the block all the way down.
            </div>
        <script>
            function myFunction() {
                document.getElementById("rules").innerHTML = "Use up arrow to rotate the block. Use left and right arrow to move the block horizontally. Use the down arrow to speed up the drop of the block. Use the space block to hard drop the block all the way down.";
                var x = document.getElementById("rules");
                    if (x.style.display === "none") {
                        x.style.display = "block";
                    } else {
                        x.style.display = "none";
                    }
            }
        
        </script>

      </body> -->

    
{% endblock %} 

<!- This is turning off birds background from base.html -->
{% block background %}
{% endblock %}