
<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "Play Game: Tetris" %}

<!- This is a replacement block for Body in base.html -->
{% block body %}
    <!- Try building a new body here, bootstrap is a wise choice ->
    <!DOCTYPE html>
    <html>
        <head>
            <a charset="utf-8">
            <title>Tetris</title>
            <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/tetris.css')}}">
        </head>

    
        <body> <!-- id and class refer to code built in the static/js/tetris.js file by Backend Developer-->
            <!-- <button onclick="myFunction()">Click here to end the game</button>-->
            <button class="button button1" onclick="helpFunction()">How to play</button>
            <button class="button button2" onclick="api()">info</button>
        
            <div id="gameField">
                <div id="gameover">
                    <center> <!--puts the text in the center-->
                        <h1>Game Over</h1> <!--bigger the number with h, larger the font size-->
                        <h4>press 'F5' to restart</h4>
                    </center>
                </div>
                <div id="pause">
                    <center>
                        <h1>Game Paused</h1>
                        <h4>press 'P' to resume</h4>
                        <h4>press 'F5' to restart</h4>
                    </center>
                </div>
                <table id="nextTable" border=0> 
                    <tr><td id="00"></td><td id="01"></td><td id="02"></td><td id="03"></td></tr>
                    <tr><td id="10"></td><td id="11"></td><td id="12"></td><td id="13"></td></tr>
                    <tr><td id="20"></td><td id="21"></td><td id="22"></td><td id="23"></td></tr>
                    <tr><td id="30"></td><td id="31"></td><td id="32"></td><td id="33"></td></tr>
                </table>
                <div id="scoreField">
                    <p class="sub">LEVEL</p>
                    <p id="level">1</p>
                    <p class="sub">SCORE</p>
                    <p id="score">0</p>
                    <p class="sub">NEXT</p>
                    <p><br><br><br></p>
                    <p class="sub">HELP</p>
                    <p id="help">← ↓ →</p>
                    <p id="help">Space Bar to rotate</p><br>
                    <p id="help">'P' to pause</p>
                    <p id="help">'q' to change shape</p>
                    <div id="comboField"><i></i></div>
                </div>
                
                <script type="text/javascript" src="{{url_for('static',filename='js/tetris.js')}}"></script>
                <script>
                    function myFunction() {
                        if(!isPaused){
                            gameOver();
                        }
                        if(isPaused) {
                            alert("you cannot end the game on the pause screen");
                        }
                    } 
               
                    function helpFunction() {
                        alert("Clear lines with the falling pieces to score! Just create lines with the falling pieces and don't let the blocks reach the top or you lose!");
                    }
                </script>


                                           
               
                    
                    <script>
                        var x = 0;
                        var array = Array();
        
                        function add_score_to_array(){
                            array[x] = document.getElementById("text1").value;
                            alert("Player Name: " + array[x] + " Added to the scoreboard" );
                            x++;
                            document.getElementById("text1").value = "";
                        }
        
                        function display_array(){
                            alert(playerFinalScore);
                            var e = "<hr/>";   
                            for (var y=0; y<array.length; y++)
                            {
                                e += "Player " + array[y] + " Score: " +  playerFinalScore + "<br/>";
                            }
                            document.getElementById("Result").innerHTML = e;
                        }


                    </script>

                    <script>
                        var x = document.getElementById("audio");
                        function playAudio() {
                            x.play();
                            }
                        function pauseAudio() {
                            x.pause();
                            }
                    </script>

                    <audio id="audio" autoplay hidden controls loop>
                        <source src="/static/assets/Tetris.mp3" type="audio/mpeg" loop="true">
                    </audio>
                
                    
      

      

    
{% endblock %} 

<!- This is turning off birds background from base.html -->
{% block background %}
{% endblock %}