
<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "Play Game: Tetris" %}

<!- This is a replacement block for Body in base.html -->
{% block body %}
    <!- Try building a new body here, bootstrap is a wise choice ->
    <!DOCTYPE html>
    <html>
        <head>
            <a charset="utf-8">
            <title>Tetris</title>
            <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/tetris.css')}}">
        </head>

    
        <body> <!-- id and class refer to code built in the static/js/tetris.js file by Backend Developer-->
            <!-- <button onclick="myFunction()">Click here to end the game</button>-->
            <button class="button button1" onclick="helpFunction()">How to play</button>
            <button class="button button2" onclick="api()">info</button>
        
            <div id="gameField">
                <div id="gameover">
                    <center> <!--puts the text in the center-->
                        <h1>Game Over</h1> <!--bigger the number with h, larger the font size-->
                        <h4>press 'F5' to restart</h4>
                    </center>
                </div>
                <div id="pause">
                    <center>
                        <h1>Game Paused</h1>
                        <h4>press 'P' to resume</h4>
                        <h4>press 'F5' to restart</h4>
                    </center>
                </div>
                <table id="nextTable" border=0> 
                    <tr><td id="00"></td><td id="01"></td><td id="02"></td><td id="03"></td></tr>
                    <tr><td id="10"></td><td id="11"></td><td id="12"></td><td id="13"></td></tr>
                    <tr><td id="20"></td><td id="21"></td><td id="22"></td><td id="23"></td></tr>
                    <tr><td id="30"></td><td id="31"></td><td id="32"></td><td id="33"></td></tr>
                </table>
                <div id="scoreField">
                    <p class="sub">LEVEL</p>
                    <p id="level">1</p>
                    <p class="sub">SCORE</p>
                    <p id="score">0</p>
                    <p class="sub">NEXT</p>
                    <p><br><br><br></p>
                    <p class="sub">HELP</p>
                    <p id="help">← ↓ →</p>
                    <p id="help">Space Bar to rotate</p><br>
                    <p id="help">'P' to pause</p>
                    <p id="help">'q' to change shape</p>
                    <div id="comboField"><i></i></div>
                </div>
                
                <script type="text/javascript" src="{{url_for('static',filename='js/tetris.js')}}"></script>
                <script>
                    function myFunction() {
                        if(!isPaused){
                            gameOver();
                        }
                        if(isPaused) {
                            alert("you cannot end the game on the pause screen");
                        }
                    } 
               
                    function helpFunction() {
                        alert("Clear lines with the falling pieces to score! Just create lines with the falling pieces and don't let the blocks reach the top or you lose!");
                    }
                </script>
                <table id = "apitable" border = 0>
                    <thead>
                    <tr>
                      <th>Time</th>
                      <th>All-time Cases</th>
                      <th>Recorded Deaths</th>
                      <th>Active Cases</th>
                    </tr>
                    </thead>
                    <tbody>
                      <td id="time"></td>
                      <td id="total_cases"></td>
                      <td id="total_deaths"></td>
                      <td id="active_cases"></td>
                    </tbody>
                  </table>
                  
                  <table>
                    <thead>
                    <tr>
                      <th>Country</th>
                      <th>All-time Cases</th>
                      <th>Recorded Deaths</th>
                      <th>Active Cases</th>
                    </tr>
                    </thead>
                    <tbody id="result">
                      <!-- generated rows -->
                    </tbody>
                  </table>
                  
                  <!-- Script is layed out in a sequence (no function) and will execute when page is loaded -->
                <script>
                    // prepare HTML result container for new output
                    const resultContainer = document.getElementById("result");
                  
                    // prepare fetch options
                    const url = "https://spring.nighthawkcodingsociety.com/api/covid/daily";
                  
                    const options = {
                        method: 'GET', // *GET, POST, PUT, DELETE, etc.
                        mode: 'cors', // no-cors, *cors, same-origin
                        cache: 'default', // *default, no-cache, reload, force-cache, only-if-cached
                        credentials: 'omit', // include, *same-origin, omit
                        headers: {
                            'Content-Type': 'application/json'
                        // 'Content-Type': 'application/x-www-form-urlencoded',
                        },
                    };
                  
                    // fetch the API
                    fetch(url, options)
                      // response is a RESTful "promise" on any successful fetch
                        .then(response => {
                            // check for response errors
                            if (response.status !== 200) {
                
                                const errorMsg = 'Database response error: ' + response.status;
                                console.log(errorMsg);
                                const tr = document.createElement("tr");
                                const td = document.createElement("td");
                                td.innerHTML = errorMsg;
                                tr.appendChild(td);
                                resultContainer.appendChild(tr);
                
                                return;
                            }
                            // valid response will have json data
                            response.json().then(data => {
                                console.log(data);
                                console.log(data.world_total)
                  
                            // World Data
                                document.getElementById("time").innerHTML = data.world_total.statistic_taken_at;
                                document.getElementById("total_cases").innerHTML = data.world_total.total_cases;
                                document.getElementById("total_deaths").innerHTML = data.world_total.total_deaths;
                                document.getElementById("active_cases").innerHTML = data.world_total.active_cases;
                  
                            // Country data
                                for (const row of data.countries_stat) {
                                    console.log(row);
                  
                              // tr for each row
                                    const tr = document.createElement("tr");
                              // td for each column
                                    const name = document.createElement("td");
                                    const cases = document.createElement("td");
                                    //const deaths = document.createElement("td");
                                    //const active = document.createElement("td");
                  
                              // data is specific to the API
                                    name.innerHTML = row.author;
                                    cases.innerHTML = row.text; 
                              // this build td's into tr
                                    tr.appendChild(name);
                                    tr.appendChild(cases);
                                    //tr.appendChild(deaths);
                                    //tr.appendChild(active);
                  
                              // add HTML to container
                                    resultContainer.appendChild(tr);
                                }
                            })
                        })
                
                //alert("4: post fetch");
            
                
                
                </script>

                <center>
                <body>
                    <h1 text-align: right style="color:white">City Astronomy and Location API</h1>                
                <!-- HTML table fragment for page -->
                </center>
                                        
                
                <label style="color:white" for="city">Enter city name:</label>
                <input type="text" id="city" name="city">&nbsp;&nbsp;<input type="button" value="Get Location & Astronomy" onclick="testButtonClick(document.getElementById('city').value)">
                <br><br>
                
                <center>
                <table>
                  <thead style="color:white">Location Details 
                  <tr>
                    <th style="color:white">City</th>
                    <th style="color:white">Region</th>
                    <th style="color:white">Country</th>
                    <th style="color:white">Latitude</th>
                    <th style="color:white">Longitude</th>
                    <th style="color:white">Time Zone</th>
                    <th style="color:white">Local Time Epoch</th>
                    <th style="color:white">Local Date and Time</th>
                  </tr>
                  </thead>
                  <tbody>
                    <td style="color:white"id="name"></td>
                    <td style="color:white" id="region"></td>
                    <td style="color:white" id="country"></td>
                    <td style="color:white"id="lat"></td>
                    <td style="color:white" id="lon"></td>
                    <td style="color:white" id="tz_id"></td>
                    <td style="color:white" id="localtime_epoch"></td>
                    <td style="color:white"id="localtime"></td>
                  </tbody>
                </table>
                </center>               
                
                </center>
                <table>
                    <thead style="color:white">Astronomy Details
                    <tr style="color:white">
                        <th style="color:white">Sunrise</th>
                        <th style="color:white">Sunset</th>
                        <th style="color:white">Moonrise</th>
                        <th style="color:white">Moonset</th>
                        <th style="color:white">Moon Phase</th>
                        <th style="color:white">Moon Illumination</th>
                    </tr>
                    </thead>
                    <tbody style="color:white" id="astronomy">
                        <!-- generated rows -->
                    </tbody>
                    <style>
                        table, th, td {
                        border: 1px solid rgb(236, 224, 224);
                        padding: 10px;
                        margin-left: 500px;
                    }
                    </style>
                </center>
                </table>    
               
                    
                    <script>
                        var x = 0;
                        var array = Array();
        
                        function add_score_to_array(){
                            array[x] = document.getElementById("text1").value;
                            alert("Player Name: " + array[x] + " Added to the scoreboard" );
                            x++;
                            document.getElementById("text1").value = "";
                        }
        
                        function display_array(){
                            alert(playerFinalScore);
                            var e = "<hr/>";   
                            for (var y=0; y<array.length; y++)
                            {
                                e += "Player " + array[y] + " Score: " +  playerFinalScore + "<br/>";
                            }
                            document.getElementById("Result").innerHTML = e;
                        }

                    </script>
                
                    
      

      

    
{% endblock %} 

<!- This is turning off birds background from base.html -->
{% block background %}
{% endblock %}