{% extends "layouts/base.html" %}
{% set project = "Home" %}

{% block body %}
    <!-- Start of body content specific to page -->
    <div class="px-5 py-5 mx-auto">
        <h1 class="text-white"><strong>Overview of Our Project</strong></h1>
        <div class="row">
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/python.jpeg') }}" alt="Python Development" height="250">
                    <div class="card-body">
                    <h5 class="card-title">What is <mark>our project</mark>? What will we be using?</h5>
                    <p class="card-text">
                        <ol>
                            <li>Our project is remaking and coding our own version of Tetris!</li>
                            <li>We will utilize Visuals Studio Code (VS Code) as our primary editor, Interactive Development Environment (IDE).</li>
                            <li>We will utilize GitHub to control and share our code, its changes, branches, pull requests, issues, and more will be through GitHub.</li>
                            <li>DevOps. Python programmers should have a passion for managing the environment and learning automation (Git, Linux, Bash, Python Packages, Docker).</li>
                        </ol>
                    </p>
                    <a href={{url_for('ProgramFP') }} class="btn btn-primary">More about our Program's Purpose/Function!</a>
                    </div>
                </div>
            </div> 
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/tetris.jpeg') }}" alt="Flask Development" height="350">
                    <div class="card-body">
                    <h5 class="card-title">Where does <mark>Tetris</mark> originate from?</h5>
                    <p class="card-text">
                        <ol>
                            <li>Tetris originates from Moscow.</li>
                            <li>The creator of this game is Alexey Pajitnov based on one of his favorite childhood games.</li>
                            <li>At Soviet Academy of Sciences, Alexey Pajitnov works as a software engineer unintentionally created this game</li>
                        </ol>
                    </p>
                    <a href="#" class="btn btn-primary">Actual Tetris Game</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img class="code.png" src="{{ url_for('static', filename='assets/code.png') }}" alt="Code Photo" height="250">
                    <div class="card-body">
                    <h5 class="card-title">Interested in <mark>the code</mark>?</h5>
                    <p class="card-text">
                        <ol>
                            <li>Our game is written in these two languages: JavaScript and Python.</li>
                            <li>SQL stands for Structured Query Language · SQL lets you access and manipulate databases and has become a long lasting development standard.</li>
                            <li>SQLAlchemy is the Python SQL toolkit and Object Relational Mapper (ORM) that gives application developers the full power and flexibility of SQL.</li>
                            <li>There are many newer and sometimes easier Database languages and frameworks.  Mongo, DynamoDB, Neo4J are Databases being used by students developers in last 3 years.</li>
                        </ol>
                    </p>
                    <a href="#" class="btn btn-primary">See full code</a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
{% endblock %}