<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "Function & Purpose" %}

<!- This is a replacement block for Body in base.html -->
{% block body %}
    <!- Try building a new body here, bootstrap is a wise choice ->
    <div class="px-5 py-5 mx-auto">
        <h1 class="text-success"><strong>Hacks</strong></h1>
        <p class="text-success">Do we have final project ideas for a PBL Web Project?</p>
            <p class="text-dark">Game: Tetris, other block games  </p>
       
        <p class="text-success">Are we considering a project that is best for our educational purpose?</p>
            <p class="text-dark"> </p> We are shooting for a game that enhances the brain and boosts IQ. Tetris enhances our brain's spatial and visual system, it creates better memory and efficiency, and can even relieve stress and ease anxiety.
      
        <p class="text-success">Is the project going to hold team members interest for 8 weeks?</p>
            <p class="text-dark">Yes, we are pretty interested in coding our own game. We are open and ready to improve on our skills, 
                face challenges and overcome them on the way. Figuring out a problem in coding boosts our morale and motivation to continue coding.  </p>
      
        <p class="text-success">Does the project have potential for someone to use it beyond the 8 weeks? ie Customer or Sponsor needed?</p>
            <p class="text-dark">Yes, many people play games over a long period of time. It can be used during free time or breaks. There is not a customer or sponsor needed. It is a coding assignment simply on VSCode.

        <p class="text-success">Does the project have potential to be used for Create Performance Task submission?</p>
            <p class="text-dark">Maybe, some believe that this game is too basic and not as creative as it could be. Maybe if we tweak and change the game a little it could qualify more for the Create Performance Task. 
        <p class="text-success">performance task criteria:</p>
            <p class="text-dark">Row 1: Program Purpose and Function: our project's functionality can be demonstrated ina successful playthrough of the game.
            <p class="text-dark">Row 2: Data Abstraction: we will need to store data if we want a point system, and then a way to display that data.
            <p class="text-dark">Row 3: Managing Complexity: the project will have complexity as there are a lot of different parts. we will need to manage this with strategies like breaking into code segments or lists to manage complexity.
            <p class="text-dark">Row 4: Procedural Abstraction: procedures will be needed to reduce complexity of having a bunch of code run at once for our project.
            <p class="text-dark">Row 5: Algorithm Implementation: we will need algorithms for things like randomly selecting blocks or processing info in game.
            <p class="text-dark">Row 6: Testing: We can test the game by playing through and seeing if it works. investigation will be looking at other's tetris projects and quoting their work.
    </div>
{% endblock %}

<!- This is turning off birds background from base.html -->
{% block background %}
{% endblock %}
 