<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "Stubby" %}

<!- This is a replacement block for Body in base.html -->
{% block body %}
    <!- Try building a new body here, bootstrap is a wise choice ->
 <div class="p-3 mb-2 bg-info text-white">Team Information</div>

    <script>

        // define a function to hold data for a Person
        function TeamMember(name, ghID, grade, role) {
            this.name = name;
            this.ghID = ghID;
            this.grade = grade;
            this.role = role;
        }

        // define a JSON conversion "method" associated with Person
        TeamMember.prototype.toJSON = function() {
            const obj = {name: this.name, ghID: this.ghID, grade: this.grade, role: this.role};
            const json = JSON.stringify(obj);
            return json;
        }

       // make a new Person and assign to variable teacher
        var teacher = new TeamMember("Mr Yeung", "unknown", 0, "Teacher");  // object type is easy to work with in JavaScript
        //alert(teacher);  // before role
        //alert(teacher.toJSON());  // ok to do this even though role is not yet defined

        // define a student Array of Person(s)
        var students = [ 
            new TeamMember("Joselyn Anda", "jesa06", 11, "Frontend Developer"),
            new TeamMember("Shruthi Malayath" , " shruthim0 ", 11, "DevOps"),
            new TeamMember("Jeongwoo Lee", " Jw95z ", 11, "Backend Developer"),
            new TeamMember("Justin Nguyen", "unknown", 11, "Scrum Master")
           
        ];

        //alert(students[3].name);

        // define a classroom and build Classroom objects and json
        function Team(teacher, students){ // 1 teacher, many student
            // start Classroom with Teacher
            this.teacher = teacher;
            //alert(this.teacher);
            this.team = [teacher];
            //alert(this.team);
            // add each Student to Classroom
            this.students = students;
            this.students.forEach(student => this.team.push(student));
            //alert(this.students);
            // build json/string format of Classroom
            this.json = [];
            this.team.forEach(teammember => this.json.push(teammember.toJSON()));
        }

        // make a CompSci classroom from formerly defined teacher and students
        APCSP = new Team(teacher, students);
        // output of Objects and JSON in CompSci classroom
        //alert(compsci.classroom);  // constructed classroom object
        //alert(compsci.classroom[0].name);  // abstract 1st objects name
        //alert(compsci.json[0]);  // show json conversion of 1st object to string
        // alert(JSON.parse(compsci.json[0]));  // show JSON.parse inverse of JSON.stringify
        //alert(APCSP);


        // define an HTML conversion "method" associated with Classroom
        Team.prototype._toHtml = function() {

            // HTML Style is build using inline structure
            var style = (
                "display:inline-block;" +
                "border: 2px solid teal;" +
                "box-shadow: 0.8em 0.4em 0.4em black;"
            );

            //alert(style);


            // HTML Body of Table is build as a series of concatenations (+=)
            var body = "";
            // Heading for Array Columns
            body += "<tr>";
            body += "<th><mark>" + " Name " + "</mark></th>";
            body += "<th><mark>" + " GitHub ID     " + "</mark></th>";
            body += "<th><mark>" + " Grade" + "</mark></th>";
            body += "<th><mark>" + " Role " + "</mark></th>";
            body += "</tr>";

            // Data of Array, iterate through each row of compsci.classroom 
            for (var row of APCSP.team) {
                // tr for each row, a new line
                body += "<tr>";
                // td for each column of data
                body += "<td>" + row.name + "</td>";
                body += "<td>" + row.ghID + "</td>";
                body += "<td>" + row.grade + "</td>";
                body += "<td>" + row.role + "</td>";
                // tr to end line
                body += "</tr>";
            }


            // Build and HTML fragment of div, table, table body
            var sHtml = 
                "<div style='" + style + "'>" +
                "<table>" +
                    body +
                "</table>" +
                "</div>";

            document.write(sHtml);

            
            // return (
            //     "<div style='" + style + "'>" +
            //     "<table>" +
            //         body +
            //     "</table>" +
            //     "</div>"
            // );

        };

        $.html(APCSP._toHtml());
    </script>

    <head>
        <meta charset="utf-8">
        <title>Scoreboard</title>
        <link type="text/css" href="{{url_for('static',filename='css/tetris.css')}}">
    </head>

   <script>

    var x = 0;
    /* var arrayName = Array();
    var arrayScore = Array();
    function add_element_to_array(){
        arrayName[x] = document.getElementById("name").value; //array [x] is name or input
        alert("Player Name: " + arrayName[x] + " Added to the scoreboard");

        arrayScore[x] = document.getElementById("score").value; //array [y] is score
        alert("Score: " + arrayScore[x] + " Added to the scoreboard");

        x++;

        document.getElementById("name").value = "";
        document.getElementById("score").value = "";

        arrayName.sort(function(a, b){return b - a});

    }
    function display_array() {
        var e = "<table>";  
        e += "<tr><td>Player</td><td>Score</td></tr>";

        for (var x=0; x<arrayName.length; x++) {
            e += "<tr><td>" + arrayName[x] + "</td><td>" + arrayScore[x] + "</td></tr>";
        }
        e += "</table>";
        
        document.getElementById("Result").innerHTML = e;
    } */

    
    var arrayScoreboard = [];
    function add_element_to_array(){
        var playerName = document.getElementById("name").value; 
        var playerScore = document.getElementById("score").value; 

        arrayScoreboard[x] = {name: playerName, score: playerScore};

        alert("Player Name: " + arrayScoreboard[x].name + " Added to the scoreboard");
        alert("Score: " + arrayScoreboard[x].score + " Added to the scoreboard");

        x++;

        document.getElementById("name").value = "";
        document.getElementById("score").value = "";
    }

    function display_array() {
        arrayScoreboard.sort(function(a, b) {
            return ((a.score > b.score) ? -1 : ((a.score == b.score) ? 0 : 1));
        });

        for (var i = 0; i<arrayScoreboard.length; i++) {
            alert(arrayScoreboard[i].score + ", " + arrayScoreboard[i].name);
        }

        alert(arrayScoreboard);

        var e = "<table>";  
        e += "<tr><td>Player</td><td>Score</td></tr>";

        for (var x=0; x<arrayScoreboard.length; x++) {
            e += "<tr><td>" + arrayScoreboard[x].name + "</td><td>" + arrayScoreboard[i].score + "</td></tr>";
        }
        e += "</table>";
        
        document.getElementById("Result").innerHTML = e;
    }




    </script>

<html>
    <head>
        <style>
            table, th, td {
              border: 1px solid black;
            }
            th, td {
                padding: 15px;
                border: 1px solid black;
            }

        </style>
    <meta charset=utf-8 />
    <title>Tetris Scoreboard</title>
    <style>
    body {padding-top:50px} 
    </style> 
    </head>
    <body>
    <input type="text" id="name"></input>
    <input type="text" id="score"></input>
    <input type="button" id="button1" value="Enter" onclick="add_element_to_array();"></input>
    <input type="button" id="button2" value="View Scoreboard" onclick="display_array();"></input>
    <div id="Result"></div> 
    </body>
</html>

<!--                    <p class="sub" id="finalScore" onclick="Scoreboard()">View Scoreboard</p>
 </div>
            <script type="text/javascript" src="{{url_for('static',filename='js/tetris.js')}}"></script>
            <script>function Scoreboard() {
                alert("test button?");
                document.getElementById("finalScore")

            }
            let highestToLowest = score.sort((a, b) => b-a);
                
        
            </script> 

-->



    <!-- <div id="newplayer">
        <input type="text" placeholder="Player Name">
        <button id="push">Enter</button>
    </div>
    <script>
        #newplayer{
            position: relative;
            padding: 30px 20px;
        }
        #newplayer input{
            width: 75%;
            height: 45px;
            padding: 12px;
            color: 233;
            font-weight: 500;
            position: relative;
            border-radius: 5px;
            font-family: 'Poppins',sans-serif;
            font-size: 15px;
            border: 2px solid #d1d3d4;
        }
    
        #newplayer input:focus{
            outline: none;
            border-color: #0d75ec;
        }
        #newplayer button{
            position: relative;
            float: right;
            font-weight: 500;
            font-size: 16px;
            background-color: #0d75ec;
            border: none;
            color: #ffffff;
            cursor: pointer;
            outline: none;
            width: 20%;
            height: 45px;
            border-radius: 5px;
            font-family: 'Poppins',sans-serif;
    }
    </script> 

{% endblock %}

<!- This is turning off birds background from base.html -->
{% block background %}
{% endblock %}