{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "About Our Tetris" %}

<!- This is a replacement block for Body in base.html -->
{% block body %}
    <!- Try building a new body here, bootstrap is a wise choice ->
        <center>
    <div class="p-3 mb-2 bg-success text-white">Here we will start our Tetris Code...what we know.</div>
            <li>JavaScript will be the actual coding. Use script to type in code. </li>
            <li>HTML will be used for the Frontend, or what will actually show up. </li>
            <li>We can use python to build the structure of our blocks.</li>
            <li>We will refer to other codes to improve upon and compare/contrast.</li>
        </center>   
    <br>

    <br>
        <center>
    <h1><strong>Project Week 1 Progress</strong></h1>
    <h3 style="color:rgb(194, 41, 14);"><i>Trials and Errors</i></h3>
            <li>We have a lot of merging conflicts since multiple people were working on the same file.<br>
                To solve this, we used to merge resolve built in VSCode or we just analyzed our code together</li>
            <li>Another common problem we had was our versions of the website not being updated the same.<br>
                To solve this we first compared out website on the local IP Address from main.py, and then we looked at our actual site.<br>
                We then found out that we should clear the cache and pull and push from VSCode and now it is up to date on all our devices.</li>
    <br>
    <h3 style="color:rgb(49, 129, 203);"><i>Successes</i></h3>
            <li>The majority of our game is already built. Now we are able to make improvements on our game and add extra elements.<br>
                Our Scrum Master keeps up with tasks and makes sure that we respond to them. Justin then reviews our tasks and decides<br>
                if we should change a few things.</li>
            <li>We efficiently collaborate, check up on each others work and mistakes. We also make sure to ask each other for help,<br>
                advice, and suggestions to make our site and game the best we can.</li>
            
            </center>

            <script>

                function testButtonClick(city) {
                    
                    if (!city.trim()) {
                        alert("Enter a city.");
                        return;
                    }  
            
            //alert("yo momma!:  " + city);
            
                    // prepare HTML result container for new output
                    const resultContainer = document.getElementById("astronomy");
            
                    //clear contents of astronomy table
                    resultContainer.innerHTML = "";
            
            //alert("1: " + resultContainer);
            
                    // prepare fetch options
                    const url = "https://weatherapi-com.p.rapidapi.com/astronomy.json?q=" + city; 
                                    
            //alert("2: " + url);
                        
                    const headers = {
                        method: 'GET', // *GET, POST, PUT, DELETE, etc.
                        mode: 'cors', // no-cors, *cors, same-origin
                        cache: 'default', // *default, no-cache, reload, force-cache, only-if-cached
                        credentials: 'omit', // include, *same-origin, omit
                        headers: {
                            'Content-Type': 'application/json',
                            'X-RapidAPI-Key': '0b6ef107f7msh5606de624633ceap17521ejsn27566d20ff5b',
                            'X-RapidAPI-Host': 'weatherapi-com.p.rapidapi.com'
                        },
                    };
            
            //alert("3: " + headers)
            
            //alert("3a: pre-fetch" + headers);
            
                    // fetch the API
                    fetch(url, headers)
                    // response is a RESTful "promise" on any successful fetch
                    .then(response => {
                        // check for response errors
                        if (response.status !== 200) {
            
                            const errorMsg = 'Database response error: ' + response.status;
                            console.log(errorMsg);
                            const tr = document.createElement("tr");
                            const td = document.createElement("td");
                            td.innerHTML = errorMsg;
                            tr.appendChild(td);
                            resultContainer.appendChild(tr);
            
                            return;
                        }
                        // valid response will have json data
                        response.json().then(data => {
                            console.log(data);
                            console.log(data.location)
            
                            // World Data
                            document.getElementById("name").innerHTML = data.location.name;
                            document.getElementById("region").innerHTML = data.location.region;
                            document.getElementById("country").innerHTML = data.location.country;
                            document.getElementById("lat").innerHTML = data.location.lat;
                            document.getElementById("lon").innerHTML = data.location.lon;
                            document.getElementById("tz_id").innerHTML = data.location.tz_id;
                            document.getElementById("localtime_epoch").innerHTML = data.location.localtime_epoch;
                            document.getElementById("localtime").innerHTML = data.location.localtime;
            
                            //alert("data.astronomy" + data.astronomy.astro.sunrise);
                            // tr for each row
                            const tr = document.createElement("tr");
            
                            // td for each column
                            const sunrise = document.createElement("td");
                            const sunset = document.createElement("td");
                            const moonrise = document.createElement("td");
                            const moonset = document.createElement("td");
                            const moon_phase = document.createElement("td");
                            const moon_illumination = document.createElement("td");
            
                            // data is specific to the API
                            sunrise.innerHTML = data.astronomy.astro.sunrise;
                            sunset.innerHTML = data.astronomy.astro.sunset; 
                            moonrise.innerHTML = data.astronomy.astro.moonrise; 
                            moonset.innerHTML = data.astronomy.astro.moonset; 
                            moon_phase.innerHTML = data.astronomy.astro.moon_phase; 
                            moon_illumination.innerHTML = data.astronomy.astro.moon_illumination; 
            
                            // this builds td's into tr
                            tr.appendChild(sunrise);
                            tr.appendChild(sunset);
                            tr.appendChild(moonrise);
                            tr.appendChild(moonset);
                            tr.appendChild(moon_phase);
                            tr.appendChild(moon_illumination);
            
                            // add HTML to container
                            resultContainer.appendChild(tr);
                        })
                    })
            
            //alert("4: post fetch");
            
                }
            
            
            </script>
            
            <body>
            
            <h1>City Astronomy and Location API</h1>
                    <a href="#astronomybutton"><button> Astronomy API </button></a>
            
            
            <!-- HTML table fragment for page -->
            
            
            If you choose a city, it will list out the location and astronomy details.
            
            <div id="astronomybutton">
            
            
            <label for="city">Enter city name:</label>
            <input type="text" id="city" name="city">&nbsp;&nbsp;<input type="button" value="Get Location & Astronomy" onclick="testButtonClick(document.getElementById('city').value)">
            <br><br>
            
            <table>
              <thead>Location Details
              <tr>
                <th>City</th>
                <th>Region</th>
                <th>Country</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>Time Zone</th>
                <th>Local Time Epoch</th>
                <th>Local Date and Time</th>
              </tr>
              </thead>
              <tbody>
                <td id="name"></td>
                <td id="region"></td>
                <td id="country"></td>
                <td id="lat"></td>
                <td id="lon"></td>
                <td id="tz_id"></td>
                <td id="localtime_epoch"></td>
                <td id="localtime"></td>
              </tbody>
            </table>
            
            
            
            
            
            
            <table>
                <thead>Astronomy Details
                <tr>
                    <th>Sunrise</th>
                    <th>Sunset</th>
                    <th>Moonrise</th>
                    <th>Moonset</th>
                    <th>Moon Phase</th>
                    <th>Moon Illumination</th>
                </tr>
                </thead>
                <tbody id="astronomy">
                    <!-- generated rows -->
                </tbody>
            </table>    

{% endblock %}

<!- This is turning off birds background from base.html -->
{% block background %}
{% endblock %}