{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "About Our Tetris" %}

<!- This is a replacement block for Body in base.html -->
{% block body %}
    <!- Try building a new body here, bootstrap is a wise choice ->
        <center>
    <div class="p-3 mb-2 bg-success text-white">Here we will start our Tetris Code...what we know.</div>
            <li>JavaScript will be the actual coding. Use script to type in code. </li>
            <li>HTML will be used for the Frontend, or what will actually show up. </li>
            <li>We can use python to build the structure of our blocks.</li>
            <li>We will refer to other codes to improve upon and compare/contrast.</li>
        </center>   
    <br>

    <br>
        <center>
    <h1><strong>Project Week 1 Progress</strong></h1>
    <h3 style="color:rgb(194, 41, 14);"><i>Trials and Errors</i></h3>
            <li>We have a lot of merging conflicts since multiple people were working on the same file.<br>
                To solve this, we used to merge resolve built in VSCode or we just analyzed our code together</li>
            <li>Another common problem we had was our versions of the website not being updated the same.<br>
                To solve this we first compared out website on the local IP Address from main.py, and then we looked at our actual site.<br>
                We then found out that we should clear the cache and pull and push from VSCode and now it is up to date on all our devices.</li>
    <br>
    <h3 style="color:rgb(49, 129, 203);"><i>Successes</i></h3>
            <li>The majority of our game is already built. Now we are able to make improvements on our game and add extra elements.<br>
                Our Scrum Master keeps up with tasks and makes sure that we respond to them. Justin then reviews our tasks and decides<br>
                if we should change a few things.</li>
            <li>We efficiently collaborate, check up on each others work and mistakes. We also make sure to ask each other for help,<br>
                advice, and suggestions to make our site and game the best we can.</li>
            
            </center>
{% endblock %}

<!- This is turning off birds background from base.html -->
{% block background %}
{% endblock %}